@{
    Page.Title = "White Valley";
}
@section Meta {
    <meta name="description" content="White Valley Software, a full service digital agency specialising in mobile web development." />
}
@section Styles
{
    <style type="text/css">
        #intro {
            background-image: url('/images/home-cover-poster.jpg');
        }
    </style>
}


<section id="intro" class="wrap bg cover" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#intro">
    <div class="veil">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <article class="body fullpage middletop" data-top="opacity: 1" data-300="opacity: 0">
                        <header class="animated fadeIn">
                            <h1>Reach your audience anywhere, any time, from any device.</h1>
                        </header>
                        <div class="action animated fadeIn scroll-link">
                            <a href="#services" class="btn btn-default btn-lg wv-btn wv-btn-ghost" title="">Find out more</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="wrap wrap-primary">
    <div class="auto-scroll scroll-down scroll-link"><a id="intro-scroll" href="#about" class="animated"><span class="fa fa-angle-down"></span></a></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <article class="content centertext">
                    <h1>INCREASE AUDIENCE ENGAGEMENT LIKE NEVER BEFORE</h1>
                    <p>
                        Our beautifully designed websites are more than just responsive. We specialise in creating experiences targeted to work across all devices,
                        allowing you to reach your audience from anywhere on any device.
                    </p>
                    <div class="actions">
                        <a href="/contact/" class="btn btn-default wv-btn wv-btn-ghost" title="Get started on your next project">GET STARTED</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section id="services" class="wrap wrap-secondary">
    <article class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 centertext">
                    <h1 class="title">WHAT WE DO</h1>
                    <p>We provide a complete range of digital services that enable you to manage your online presence.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="summary-box">
                        <span class="icon"><span class="fa fa-desktop"></span></span>
                        <h1>WEBSITE DESIGN</h1>
                        <p>We create beautifully designed websites that your audience can engage with.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="summary-box">
                        <span class="icon">{ }</span>
                        <h1>APP DEVELOPMENT</h1>
                        <p>We bring your ideas to life through mobile and web application development.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="summary-box">
                        <span class="icon"><span class="fa fa-edit"></span></span>
                        <h1>CONTENT MANAGEMENT</h1>
                        <p>We put you in control of your website content with easy to use tools.</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>

<section id="contact" class="wrap">
    @*<div class="auto-scroll scroll-down scroll-link"><a id="intro-scroll" href="#contact" class="animated"><span class="fa fa-angle-down"></span></a></div>*@
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <article class="content">
                    <header><h1>Get in touch</h1></header>
                    <ul class="contact-details symantic">
                        <li><span class="fa fa-phone"></span><span>020 3239 8328</span></li>
                        <li><a href="mailto:hi@whitevalleysoftware.com" title="Email White Valley"><span class="fa fa-envelope"></span>hi@whitevalleysoftware.com</a></li>
                    </ul>
                    <h2>Follow Us</h2>
                    <ul class="contact-details symantic">
                        <li><a href="https://twitter.com/whitevalleysoft" title="Follow White Valley Software on Twitter"><span class="fa fa-twitter"></span>@@whitevalleysoft</a></li>
                        <li><a href="https://plus.google.com/+WhiteValleySoftwareUK" title="Follow White Valley Software on Google+"><span class="fa fa-google-plus"></span>+WhiteValleySoftwareUK</a></li>
                    </ul>
                </article>
            </div>
            <div class="col-md-6 col-xs-12">
                <article class="content">
                    <header><h1>Ask us anything</h1></header>
                    <form role="form" method="POST" action="/#contact">
                        @Html.ValidationSummary("Oops!", new { @class = "alert alert-danger" })
                        <div class="form-group hidden">
                            <label for="Captcha">Captacha</label>
                            @Html.TextBox("Captcha", null, new { @class = "form-control wv-form-control", rows = 5, placeholder = "Please leave empty" })
                            <p class="help-block wv-help-block">Please leave empty.</p>
                        </div>
                        <div class="form-group">
                            <label for="name">Who are you?</label>
                            @Html.TextBox("Name", null, new { @class = "form-control wv-form-control", placeholder = "Your name" })
                        </div>
                        <div class="form-group">
                            <label for="contact">How should we contact you?</label>
                            @Html.TextBox("Contact", null, new { @class = "form-control wv-form-control", placeholder = "Your email address/phone number" })
                            <p class="help-block wv-help-block">Enter your email address and/or phone number if you would like us to reply.</p>
                        </div>
                        <div class="form-group">
                            <label for="message">How can we help?</label>
                            @Html.TextArea("Message", null, new { @class = "form-control wv-form-control", rows = 5, placeholder = "Be nice :-)" })
                        </div>
                        <button type="submit" class="btn btn-default wv-btn">Send message</button>
                        @Html.AntiForgeryToken()
                    </form>
                </article>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script type="text/javascript" src="/scripts/skrollr.min.js"></script>
    <script type="text/javascript">

        var eventName = {
            onAnimationEnd: 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend'
        }

        $(function () {

            if ($(window).width() >= 768) {
                skrollr.init(); @* disable skrollr on 'mobile' *@
            }

            @* animated scroll from the index -  http://stackoverflow.com/a/5284836/88053 *@
            var scrollToAnchor = function () {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('body, html').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                }
                return false;
            }
            $('.scroll-link a').click(scrollToAnchor);

        });


        $(function () {
            var elm = $('#intro-scroll');
            var timer = setInterval(function () {
                var css = 'rubberBand';
                elm.addClass(css).one(eventName.onAnimationEnd, function () {
                    elm.removeClass(css);
                });
            }, 5000);
            $(document).on('scroll', function () {
                clearInterval(timer);
            });
        });

    </script>

}